
html{
    background: black;
    cursor: none;
}
h1{
    text-align: center;
    font-family: "Helvetica";
    font-size: 50px;
    color: white;
    padding: 0%;
    padding-top: 1%;
    margin: 0%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.leftcentre{
    margin: 0 auto;
    width: 40%;
    color: white;
    font-size: 18px;
}

.text{
    color: white;
    font-family: "Helvetica";
    text-align: center;
}


.img{
    filter: drop-shadow(0 0 1rem darkgrey);
    box-sizing: content-box;
    border-radius: 18px;
    opacity: max(0.8);

}

a{
    color: aquamarine;
    text-decoration: none;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transition: background 0.6s;
}

@media (max-width: 900px) {
    .center {
        width: 80%;
    }

    .leftcentre {
        width: 70%;
    }
}




